<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>산책로 추천</title>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7yUrMo4NRmNvcF_vyxBoHuZsikOgqz7Q"></script>
    <script>
        var latitude = 0;
        var longitude = 0;

        var result = [];


        // 현재 위치의 위도와 경도 반환해주는 함수
        navigator.geolocation.getCurrentPosition(function(pos) {
            latitude = pos.coords.latitude;
            longitude = pos.coords.longitude;
            // alert("현재 위치는 : " + latitude + ", "+ longitude);
        });


        // 위도와 경도로 두 장소 간 거리 계산해주는 함수
        function getDistanceFromLatLonInKm(lat1, lng1, lat2, lng2) {
            function deg2rad(deg) {
                return deg * (Math.PI/180)
            }
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1); // deg2rad below
            var dLon = deg2rad(lng2-lng1);
            var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.sin(dLon/2) * Math.sin(dLon/2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c; // Distance in km
            return d;
        }


        // // html 테이블에서 js 배열로 값 저장
        // function getTableData() {
        //     var table = document.getElementById('dataTable');
        //
        //     for (var i = 1; i < table.rows.length; i++) {
        //         var obj = {};
        //         for (var j = 0; j < table.rows[i].cells.length; j++) {
        //             var k = table.rows[0].cells[j].innerText;
        //             obj[k] = table.rows[i].cells[j].innerText;
        //         }
        //         result.push(obj);
        //     }
        // }
        //
        //
        // // 현재 위치와 장소 사이 거리 저장
        // function getDistance() {
        //     getTableData();
        //
        //     for (var i = 0; i < result.length; i++) {
        //         result[i]['distance'] = getDistanceFromLatLonInKm(latitude, longitude, result[i]['latitude'], result[i]['longitude']).toFixed(2);
        //     }
        // }
        //
        //
        // // 거리에 따라 배열 정렬
        // function dataSort() {
        //     var dataTable = document.getElementById("dataTable");
        //     getDistance();
        //
        //     result.sort(function(a, b) {
        //         return a['distance'] - b['distance'];
        //     });
        //
        //     console.log(result);
        //
        //     dataTable.style.visibility = "hidden";  // html 테이블 숨기기
        // }
        //
        //
        // window.onload = function () {
        //     dataSort();
        //
        //     document.getElementById("name1").innerHTML = result[0]['name'];
        //     document.getElementById("address1").innerHTML = result[0]['address'];
        //     document.getElementById("distance1").innerHTML = result[0]['distance'] + " km";
        //     document.getElementById("image1").src = result[0]['image'];
        //
        //     document.getElementById("name2").innerHTML = result[1]['name'];
        //     document.getElementById("address2").innerHTML = result[1]['address'];
        //     document.getElementById("distance2").innerHTML = result[1]['distance'] + " km";
        //     document.getElementById("image2").src = result[1]['image'];
        //
        //     document.getElementById("name3").innerHTML = result[2]['name'];
        //     document.getElementById("address3").innerHTML = result[2]['address'];
        //     document.getElementById("distance3").innerHTML = result[2]['distance'] + " km";
        //     document.getElementById("image3").src = result[2]['image'];
        //
        //     document.getElementById("name4").innerHTML = result[3]['name'];
        //     document.getElementById("address4").innerHTML = result[3]['address'];
        //     document.getElementById("distance4").innerHTML = result[3]['distance'] + " km";
        //     document.getElementById("image4").src = result[3]['image'];
        //
        //     document.getElementById("name5").innerHTML = result[4]['name'];
        //     document.getElementById("address5").innerHTML = result[4]['address'];
        //     document.getElementById("distance5").innerHTML = result[4]['distance'] + " km";
        //     document.getElementById("image5").src = result[4]['image'];
        // }
    </script>
</head>
<body>

<!--    <h1>산책로 추천</h1>-->

<!--    <div>-->
<!--        <h4 id="name1">name</h4>-->
<!--        <h4 id="address1">address</h4>-->
<!--        <h4 id="distance1">distance</h4>-->
<!--        <image id="image1" src="*" width="300"></image>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h4 id="name2">name</h4>-->
<!--        <h4 id="address2">address</h4>-->
<!--        <h4 id="distance2">distance</h4>-->
<!--        <image id="image2" src="*" width="300"></image>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h4 id="name3">name</h4>-->
<!--        <h4 id="address3">address</h4>-->
<!--        <h4 id="distance3">distance</h4>-->
<!--        <image id="image3" src="*" width="300"></image>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h4 id="name4">name</h4>-->
<!--        <h4 id="address4">address</h4>-->
<!--        <h4 id="distance4">distance</h4>-->
<!--        <image id="image4" src="*" width="300"></image>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h4 id="name5">name</h4>-->
<!--        <h4 id="address5">address</h4>-->
<!--        <h4 id="distance5">distance</h4>-->
<!--        <image id="image5" src="*" width="300"></image>-->
<!--    </div>-->


<!--    <table id="dataTable">-->
<!--        <tr>-->
<!--            <th>name</th>-->
<!--            <th>address</th>-->
<!--            <th>latitude</th>-->
<!--            <th>longitude</th>-->
<!--            <th>image</th>-->
<!--        </tr>-->
<!--        {% for p in parks %}-->
<!--            <tr>-->
<!--                <td>{{p.name}}</td>-->
<!--                <td>{{p.address}}</td>-->
<!--                <td>{{p.latitude}}</td>-->
<!--                <td>{{p.longitude}}</td>-->
<!--                <td>{{p.image}}</td>-->
<!--            </tr>-->
<!--        {%endfor%}-->
<!--    </table>-->

</body>
</html>