<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stretch - Body</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'stretch/css/styles.css' %}" rel="stylesheet" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>

    <body>
        <!-- Responsive navbar-->
        {% include 'stretch/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="margin-top: 100px; font-family: 'Noto Sans KR';">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" id="video">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/16gbvk9At5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h4 id="title" style="font-weight: bold;">팔 올리고 옆구리 늘려주기</h4>
                    <p id="explain">두 발을 어깨 너비로 벌리고 섭니다. 왼손은 머리 뒤에 두고 오른손은 몸 옆에 둡니다.
                        몸을 오른쪽으로 구부려 오른손을 바닥쪽으로 내리세요.
                        1초 동안 멈췄다가 시작 위치로 돌아가세요. 다른 쪽으로 바꿔 운동을 반복하세요.</p>
                </div>
            </div>
            <hr>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" style="font-family: 'Noto Sans KR'; margin-top: 50px;">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">팔 올리고 옆구리 늘려주기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">두 발을 어깨 너비로 벌리고 섭니다. 왼손은 머리 뒤에 두고 오른손은 몸 옆에 둡니다.
                        몸을 오른쪽으로 구부려 오른손을 바닥쪽으로 내리세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change1()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">가슴 펴주기 운동</h4>
                            <p class="card-text" style="margin-bottom: 20px;">문간에서 런지 포지션을 한 후 팔꿈치가 어깨보다 약간 아래로 오게 팔을 문 틀에 올려 놓고 천천히 가슴을 앞으로 가져오세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change2()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">코브라 스트레칭</h4>
                            <p class="card-text" style="margin-bottom: 20px;">엎드려 누운 상태에서 두 손을 어깨 밑에 놓고 팔꿈치를 굽힙니다.
                                그리고 가슴을 바닥에서 최대한 멀리 밀어 냅니다. 이 자세를 몇 초 동안 유지하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change3()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">나비 포즈 스트레칭</h4>
                            <p class="card-text" style="margin-bottom: 20px;">두 발을 붙이고 바닥에 앉아 발가락을 손으로 잡습니다.
                                무릎을 양 옆으로 벌려 무릎을 아래로 누르세요. 이 자세를 유지하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">삼두근 스트레칭</h4>
                            <p class="card-text" style="margin-bottom: 20px;">왼쪽 손을 등에 가져다 대고 오른손으로 왼쪽 팔꿈치를 잡아 부드럽게 잡아 당기세요.
                                이 자세를 몇 초 동안 유지하세요. 반대쪽으로 운동을 반복하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>


    <!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
        <script>
            var video = document.getElementById("video");
            var title = document.getElementById("title");
            var explain = document.getElementById("explain");

            function change1() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/16gbvk9At5U\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "팔 올리고 옆구리 늘려주기"
                explain.innerHTML = "두 발을 어깨 너비로 벌리고 섭니다. 왼손은 머리 뒤에 두고 오른손은 몸 옆에 둡니다. " +
                    "몸을 오른쪽으로 구부려 오른손을 바닥쪽으로 내리세요. " +
                    "1초 동안 멈췄다가 시작 위치로 돌아가세요. 다른 쪽으로 바꿔 운동을 반복하세요."
            }

            function change2() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/rT7rgXQtDcI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "가슴 펴주기 운동"
                explain.innerHTML = "문간에서 런지 포지션을 한 후 팔꿈치가 어깨보다 약간 아래로 오게 팔을 문 틀에 올려 놓고 천천히 가슴을 앞으로 가져오세요. 이 상태를 30~40초 유지하세요. " +
                    "그 후 천천히 그 자세에서 빠져 나와 팔을 내리고 어깨를 몇 번 돌리세요."
            }

            function change3() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/JDcdhTuycOI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "코브라 스트레칭"
                explain.innerHTML = "엎드려 누운 상태에서 두 손을 어깨 밑에 놓고 팔꿈치를 굽힙니다. " +
                    "그리고 가슴을 바닥에서 최대한 멀리 밀어 냅니다. 이 자세를 몇 초 동안 유지하세요."
            }

            function change4() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/OrxjCE_tJ3k\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "나비 포즈 스트레칭"
                explain.innerHTML = "두 발을 붙이고 바닥에 앉아 발가락을 손으로 잡습니다. " +
                    "무릎을 양 옆으로 벌려 무릎을 아래로 누르세요. 이 자세를 유지하세요."
            }

            function change5() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/yAvpW_zKJmI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "삼두근 스트레칭"
                explain.innerHTML = "왼쪽 손을 등에 가져다 대고 오른손으로 왼쪽 팔꿈치를 잡아 부드럽게 잡아 당기세요. " +
                    "이 자세를 몇 초 동안 유지하세요. 반대쪽으로 운동을 반복하세요."
            }
        </script>

        <!-- Footer-->
        {% include 'stretch/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/stretch/js/scripts.js"></script>
    </body>
</html>