<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stretch - Knee</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'stretch/css/styles.css' %}" rel="stylesheet" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>

    <body>
        <!-- Responsive navbar-->
        {% include 'stretch/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="margin-top: 100px; font-family: 'Noto Sans KR';">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" id="video">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/iF1tqIaWT5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h4 id="title" style="font-weight: bold;">한쪽 다리 힙 회전</h4>
                    <p id="explain">똑바로 서서 힙에 두 손을 올리고 발을 어깨 넓이로 벌린 상태에서 시작하세요.
                                허리 높이로 왼쪽 다리를 올려 무릎을 직각으로 구부리세요. 몸을 왼쪽으로 돌렸다가 다시 원위치로 돌아오세요.
                                다른 쪽으로 운동을 반복하세요.</p>
                </div>
            </div>
            <hr>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" style="font-family: 'Noto Sans KR'; margin-top: 50px;">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">한쪽 다리 힙 회전</h4>
                            <p class="card-text" style="margin-bottom: 20px;">똑바로 서서 힙에 두 손을 올리고 발을 어깨 넓이로 벌린 상태에서 시작하세요.
                                허리 높이로 왼쪽 다리를 올려 무릎을 직각으로 구부리세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change1()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">런지</h4>
                            <p class="card-text" style="margin-bottom: 20px;">팔굽혀 펴기 자세로 시작합니다. 왼쪽 무릎을 앞으로 가져오고 오른쪽 무릎을 바닥에 내려 놓으세요.
                                상체를 들어올리고 두 손을 허리에 올려 놓으세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change2()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">누워서 하는 나비 스트레칭</h4>
                            <p class="card-text" style="margin-bottom: 20px;">바닥에 누워 두 발을 붙입니다. 무릎을 양 옆으로 벌려 이 자세를 유지합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change3()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">둔근 스트레칭</h4>
                            <p class="card-text" style="margin-bottom: 20px;">똑바로 누워 두 발을 바닥에 평평하게 놓습니다. 왼쪽 발목을 오른쪽 무릎 위에 올려 놓습니다.
                                오른쪽 무릎을 들어 올리며 두 손으로 오른쪽 허벅지 뒤쪽을 잡으세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">반듯이 누워 햄스트링</h4>
                            <p class="card-text" style="margin-bottom: 20px;">똑바로 누워 두 다리를 일자로 뻗고 손을 몸 양쪽에 두세요. 왼쪽 다리를 천장을 향해 들어올리세요.
                                두 손으로 허벅지 뒤를 잡으세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>


    <!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
        <script>
            var video = document.getElementById("video");
            var title = document.getElementById("title");
            var explain = document.getElementById("explain");

            function change1() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/iF1tqIaWT5Q\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "한쪽 다리 힙 회전"
                explain.innerHTML = "똑바로 서서 힙에 두 손을 올리고 발을 어깨 넓이로 벌린 상태에서 시작하세요. " +
                    "허리 높이로 왼쪽 다리를 올려 무릎을 직각으로 구부리세요. 몸을 왼쪽으로 돌렸다가 다시 원위치로 돌아오세요. " +
                    "다른 쪽으로 운동을 반복하세요."
            }

            function change2() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/wk-FCPrR9sw\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "런지"
                explain.innerHTML = "팔굽혀 펴기 자세로 시작합니다. 왼쪽 무릎을 앞으로 가져오고 오른쪽 무릎을 바닥에 내려 놓으세요. " +
                    "상체를 들어올리고 두 손을 허리에 올려 놓으세요. 그런 다음 상체를 똑바로 유지하면서 엉덩이를 앞으로 밀어주세요. " +
                    "앞 무릎이 발가락보다 앞으로 나가지 않도록 주심하세요. 이 자세를 몇 초 동안 유지하세요. 반대쪽으로 운동을 반복하세요."
            }

            function change3() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/eT2KF-EpnxM\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "누워서 하는 나비 스트레칭"
                explain.innerHTML = "바닥에 누워 두 발을 붙입니다. 무릎을 양 옆으로 벌려 이 자세를 유지합니다."
            }

            function change4() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/gE6mJ0VjK7Y\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "둔근 스트레칭"
                explain.innerHTML = "똑바로 누워 두 발을 바닥에 평평하게 놓습니다. 왼쪽 발목을 오른쪽 무릎 위에 올려 놓습니다. " +
                    "오른쪽 무릎을 들어 올리며 두 손으로 오른쪽 허벅지 뒤쪽을 잡으세요. 상체쪽으로 잡아 당기세요. 반대쪽으로 운동을 반복하세요."
            }

            function change5() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/nuKKayWxeqo\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "반듯이 누워 햄스트링"
                explain.innerHTML = "똑바로 누워 두 다리를 일자로 뻗고 손을 몸 양쪽에 두세요. 왼쪽 다리를 천장을 향해 들어올리세요. " +
                    "두 손으로 허벅지 뒤를 잡으세요. 이자세를 유지하세요. 반대쪽으로 운동을 반복하세요."
            }
        </script>

        <!-- Footer-->
        {% include 'stretch/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/stretch/js/scripts.js"></script>
    </body>
</html>