<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stretch - neck and shoulder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'stretch/css/styles.css' %}" rel="stylesheet" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>

    <body>
        <!-- Responsive navbar-->
        {% include 'stretch/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="margin-top: 100px; font-family: 'Noto Sans KR';">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" id="video">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/2NOsE-VPpkE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h4 id="title" style="font-weight: bold;">위, 아래로 끄덕이기</h4>
                    <p id="explain">턱을 가슴 쪽으로 쭉 잡아 당겨 몇 초동안 그 자세를 유지하세요.
                        이번에는 고개를 들어 천장을 바라보세요. 그 자세를 몇 초 동안 유지하세요. 운동을 반복하세요.</p>
                </div>
            </div>
            <hr>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" style="font-family: 'Noto Sans KR'; margin-top: 50px;">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">위, 아래로 끄덕이기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">턱을 가슴 쪽으로 쭉 잡아 당겨 몇 초동안 그 자세를 유지하세요.
                        이번에는 고개를 들어 천장을 바라보세요. 그 자세를 몇 초 동안 유지하세요. 운동을 반복하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change1()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">좌우로 돌리기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">머리를 왼쪽으로 돌려 몇 초 동안 그 자세를 유지하세요.
                                이번에는 머리를 오른쪽으로 돌려 다시 몇 초 동안 유지하세요. 운동을 반복하세요</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change2()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">어깨 돌리기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">두팔을 양 옆에 두고 앉거나 섭니다.
                                어깨를 돌려 귀쪽으로 올렸다가 다시 뒤로 돌려 힘을 주었다가 밑으로 내립니다. 운동을 반복합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change3()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">등 뒤로 손 깍지 끼기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">두 발을 어깨 너비 만큼 벌리고 섭니다.
                                두 손을 등 뒤로 돌려 깍지를 낍니다. 그리고 팔꿈치를 뒤로 당겨 팔을 쭉 폅니다. 그 자세를 몇 초 동안 유지합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">바닥 슬라이드</h4>
                            <p class="card-text" style="margin-bottom: 20px;">똑바로 누워 무릎을 굽히고 발바닥을 바닥 위에 올려 놓습니다. 두 팔을 머리 위로 쭉 뻗습니다.
                                팔의 윗부분을 90도 각도로 밑으로 슬라이드 했다가 다시 위로 슬라이드합니다. 운동을 반복합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>


    <!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
        <script>
            var video = document.getElementById("video");
            var title = document.getElementById("title");
            var explain = document.getElementById("explain");

            function change1() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/2NOsE-VPpkE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "위, 아래로 끄덕이기"
                explain.innerHTML = "턱을 가슴 쪽으로 쭉 잡아 당겨 몇 초동안 그 자세를 유지하세요. " +
                    "이번에는 고개를 들어 천장을 바라보세요. 그 자세를 몇 초 동안 유지하세요. 운동을 반복하세요."
            }

            function change2() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/2NOsE-VPpkE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "좌우로 돌리기"
                explain.innerHTML = "머리를 왼쪽으로 돌려 몇 초 동안 그 자세를 유지하세요. " +
                    "이번에는 머리를 오른쪽으로 돌려 다시 몇 초 동안 유지하세요. 운동을 반복하세요."
            }

            function change3() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/cJXquDX3DcM\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "어깨 돌리기"
                explain.innerHTML = "두팔을 양 옆에 두고 앉거나 섭니다. " +
                    "어깨를 돌려 귀쪽으로 올렸다가 다시 뒤로 돌려 힘을 주었다가 밑으로 내립니다. 운동을 반복합니다."
            }

            function change4() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/3D1yeeTaoBQ\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "등 뒤로 손 깍지 끼기"
                explain.innerHTML = "두 발을 어깨 너비 만큼 벌리고 섭니다. " +
                    "두 손을 등 뒤로 돌려 깍지를 낍니다. 그리고 팔꿈치를 뒤로 당겨 팔을 쭉 폅니다. 그 자세를 몇 초 동안 유지합니다."
            }

            function change5() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/1DkN-aMl6H4\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "바닥 슬라이드"
                explain.innerHTML = "똑바로 누워 무릎을 굽히고 발바닥을 바닥 위에 올려 놓습니다. 두 팔을 머리 위로 쭉 뻗습니다. " +
                    "팔의 윗부분을 90도 각도로 밑으로 슬라이드 했다가 다시 위로 슬라이드합니다. 운동을 반복합니다."
            }
        </script>

        <!-- Footer-->
        {% include 'stretch/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/stretch/js/scripts.js"></script>
    </body>
</html>