<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stretch - Posture</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'stretch/css/styles.css' %}" rel="stylesheet" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>

    <body>
        <!-- Responsive navbar-->
        {% include 'stretch/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="margin-top: 100px; font-family: 'Noto Sans KR';">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" id="video">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/vCDfdqUrt9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h4 id="title" style="font-weight: bold;">레그 스프레드</h4>
                    <p id="explain">두 팔을 몸에 붙이고 바르게 누운 다음 다리를 들어올려 최대한 곧게 폅니다. 다리를 벌렸다가, 다시 가운데로 붙이세요. 이 운동을 반복합니다.</p>
                </div>
            </div>
            <hr>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" style="font-family: 'Noto Sans KR'; margin-top: 50px;">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">레그 스프레드</h4>
                            <p class="card-text" style="margin-bottom: 20px;">두 팔을 몸에 붙이고 바르게 누운 다음 다리를 들어올려 최대한 곧게 폅니다. 다리를 벌렸다가, 다시 가운데로 붙이세요. 이 운동을 반복합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change1()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">플로어 브릿지</h4>
                            <p class="card-text" style="margin-bottom: 20px;">무릎을 구부리고 바닥에 평평하게 누워, 엉덩이를 들어올립니다. 이 때, 등과 허리는 일직선을 유지해주세요. 이동작은 복부 전체와 허리, 둔부 근육을 강화해줍니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change2()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">플러터 발차기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">똑바로 누워 두 팔을 양 옆에 둡니다. 두 다리를 들어올려 최대한 일자로 유지합니다. 빠른 속도로 오른쪽 다리를 이로 올리고 동시에 왼쪽 다리를 밑으로 내립니다. 다리를 바꿔 반복하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change3()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">비둘기 포즈</h4>
                            <p class="card-text" style="margin-bottom: 20px;">네 발 자세로 시작해 무릎은 엉덩이 밑에, 손은 어깨 밑에 오게 하세요.
                                왼쪽 무릎을 앞으로 옮기고 왼발은 오른손과 오른쪽 무릎 사이 바닥에 놓은 후...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>


        <!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
        <script>
            var video = document.getElementById("video");
            var title = document.getElementById("title");
            var explain = document.getElementById("explain");

            function change1() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/vCDfdqUrt9o\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "레그 스프레드"
                explain.innerHTML = "두 팔을 몸에 붙이고 바르게 누운 다음 다리를 들어올려 최대한 곧게 폅니다. 다리를 벌렸다가, 다시 가운데로 붙이세요. 이 운동을 반복합니다."
            }

            function change2() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/y5f-IZo5AZY\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "플로어 브릿지"
                explain.innerHTML = "무릎을 구부리고 바닥에 평평하게 누워, 엉덩이를 들어올립니다. 이 때, 등과 허리는 일직선을 유지해주세요. 이동작은 복부 전체와 허리, 둔부 근육을 강화해줍니다."
            }

            function change3() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/eEG9uXjx4vQ\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "플러터 발차기"
                explain.innerHTML = "똑바로 누워 두 팔을 양 옆에 둡니다. 두 다리를 들어올려 최대한 일자로 유지합니다. " +
                    "빠른 속도로 오른쪽 다리를 이로 올리고 동시에 왼쪽 다리를 밑으로 내립니다. 다리를 바꿔 반복하세요."
            }

            function change4() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/_vS1_lmAYYA\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "비둘기 포즈"
                explain.innerHTML = "네 발 자세로 시작해 무릎은 엉덩이 밑에, 손은 어깨 밑에 오게 하세요. " +
                    "왼쪽 무릎을 앞으로 옮기고 왼발은 오른손과 오른쪽 무릎 사이 바닥에 놓은 후 왼쪽 무릎을 왼쪽 손목 가까이 바닥에 내려 놓으세요. " +
                    "오른쪽 다리를 뒤로 쭉 미세요. 팔뚝을 다리 앞 바닥에 놓고 손가락을 쫙 펴고 손바닥이 서로를 향하게 하세요. 이 자세를 몇 초 동안 유지하세요. " +
                    "이 후 반대방향으로 바꿔서 반복하세요."
            }
        </script>

        <!-- Footer-->
        {% include 'stretch/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/stretch/js/scripts.js"></script>
    </body>
</html>