<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Waist</title>
    <link href="{% static 'stretch/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/b0978df606.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
<!--        스트레칭 영상, 제목, 설명-->
        <div class="col-8">
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kqnua4rHVVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3 id="title">고양이 소 포즈</h3>
            <div id="explain">
                <h5>무릎은 엉덩이 아래에, 손은 어깨 바로 아래에 오도록 네발로 엎드리세요.</h5>
                <h5>숨을 들이 마시고 배가 아래로 축 내려오게 한 후, 어깨를 뒤로 말아 머리를 천장을 향해 들어 올리세요.</h5>
                <h5>숨을 내쉬며 등을 곡선으로 만들어 위로 향하게 한 후 머리를 아래로 숙이세요. 이 자세를 반복하세요.</h5>
            </div>
        </div>

<!--        스트레칭 목록-->
        <div class="col-4">
            <h4><input type="button" value="고양이 소 포즈" onclick="change1()"></h4>
            <h4><input type="button" value="슈퍼맨 및 수영선수" onclick="change2()"></h4>
            <h4><input type="button" value="크로스 터치 뻗기" onclick="change3()"></h4>
            <h4><input type="button" value="브릿지" onclick="change4()"></h4>
            <h4><input type="button" value="어린이 포즈" onclick="change5()"></h4>
        </div>
    </div>


<!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
    <script>
        var video = document.getElementById("video");
        var title = document.getElementById("title");
        var explain = document.getElementById("explain");

        function change1() {
            video.innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/kqnua4rHVVA\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
            title.innerHTML = "고양이 소 포즈"
            explain.innerHTML = "<h5>무릎은 엉덩이 아래에, 손은 어깨 바로 아래에 오도록 네발로 엎드리세요.</h5>\n" +
                                "<h5>숨을 들이 마시고 배가 아래로 축 내려오게 한 후, 어깨를 뒤로 말아 머리를 천장을 향해 들어 올리세요.</h5>\n" +
                                "<h5>숨을 내쉬며 등을 곡선으로 만들어 위로 향하게 한 후 머리를 아래로 숙이세요. 이 자세를 반복하세요.</h5>"
        }

        function change2() {
            video.innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/3zQIBOMeeis\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
            title.innerHTML = "슈퍼맨 및 수영선수"
            explain.innerHTML = "<h5>머리 위로 손을 쭉 뻗은채 엎드려 누우세요.</h5>\n" +
                                "<h5>교대로 반대쪽 팔과 다리를 들어올리세요.</h5>"
        }

        function change3() {
            video.innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/UV8HKZoxMRE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
            title.innerHTML = "크로스 터치 뻗기"
            explain.innerHTML = "<h5>땅에 똑바로 서서 팔을 어깨 높이로 양쪽으로 쭉 뻗은 상태로 시작하세요.</h5>\n" +
                                "<h5>몸을 굽혀 왼손으로 오른쪽 발을 터치하거나 최대한 가까이 가져가세요. 다른쪽으로 운동을 반복하세요.</h5>"
        }

        function change4() {
            video.innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/lkYUwiKSEmI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
            title.innerHTML = "브릿지"
            explain.innerHTML = "<h5>무릎을 구부리고 바닥에 평평하게 누워, 엉덩이를 들어올립니다.</h5>\n" +
                                "<h5>이 때, 등과 허리는 일직선을 유지해주세요. 이 동작은 복부 전체와 허리, 둔부 근육을 강화해줍니다.</h5>"
        }

        function change5() {
            video.innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/eqVMAPM00DM\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
            title.innerHTML = "어린이 포즈"
            explain.innerHTML = "<h5>무릎과 손을 땅에 붙인 상태롤 시작하세요. 손을 약간 앞으로 향하게 하고 무릎을 벌린 후 두 발의 발가락을 포개세요.</h5>\n" +
                                "<h5>숨을 들이 마셨다가 내쉬고 똑바로 앉으세요. 엉덩이가 발 뒤꿈치에 닿게 노력하세요.</h5>\n" +
                                "<h5>팔꿈치를 편안하게 한 상태에서 이마를 땅에 대고 가슴을 최대한 땅에 가까이 가져 가세요. 이 포즈를 유지하세요.</h5>"
        }
    </script>
</body>
</html>