<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stretch - Waist</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'stretch/css/styles.css' %}" rel="stylesheet" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>

    <body>
        <!-- Responsive navbar-->
        {% include 'stretch/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="margin-top: 100px; font-family: 'Noto Sans KR';">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" id="video">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/kqnua4rHVVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h4 id="title" style="font-weight: bold;">고양이 소 포즈</h4>
                    <p id="explain">무릎은 엉덩이 아래에, 손은 어깨 바로 아래에 오도록 네발로 엎드리세요.
                        숨을 들이 마시고 배가 아래로 축 내려오게 한 후, 어깨를 뒤로 말아 머리를 천장을 향해 들어 올리세요.
                        숨을 내쉬며 등을 곡선으로 만들어 위로 향하게 한 후 머리를 아래로 숙이세요. 이 자세를 반복하세요.</p>
                </div>
            </div>
            <hr>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" style="font-family: 'Noto Sans KR'; margin-top: 50px;">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">고양이 소 포즈</h4>
                            <p class="card-text" style="margin-bottom: 20px;">무릎은 엉덩이 아래에, 손은 어깨 바로 아래에 오도록 네발로 엎드리세요.
                        숨을 들이 마시고 배가 아래로 축 내려오게 한 후, 어깨를 뒤로 말아 머리를 천장을 향해 들어 올리세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change1()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">슈퍼맨 및 수영선수</h4>
                            <p class="card-text" style="margin-bottom: 20px;">머리 위로 손을 쭉 뻗은채 엎드려 누우세요. 교대로 반대쪽 팔과 다리를 들어올리세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change2()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">크로스 터치 뻗기</h4>
                            <p class="card-text" style="margin-bottom: 20px;">땅에 똑바로 서서 팔을 어깨 높이로 양쪽으로 쭉 뻗은 상태로 시작하세요.
                                몸을 굽혀 왼손으로 오른쪽 발을 터치하거나 최대한 가까이 가져가세요. 다른쪽으로 운동을 반복하세요.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change3()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">브릿지</h4>
                            <p class="card-text" style="margin-bottom: 20px;">무릎을 구부리고 바닥에 평평하게 누워, 엉덩이를 들어올립니다.
                                이 때, 등과 허리는 일직선을 유지해주세요. 이 동작은 복부 전체와 허리, 둔부 근육을 강화해줍니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: bold; margin-bottom: 15px;">어린이 포즈</h4>
                            <p class="card-text" style="margin-bottom: 20px;">무릎과 손을 땅에 붙인 상태롤 시작하세요. 손을 약간 앞으로 향하게 하고 무릎을 벌린 후 두 발의 발가락을 포개세요.
                                숨을 들이 마셨다가 내쉬고 똑바로 앉으세요...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" onclick="change4()">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>


    <!--    목록 누르면 내용 바뀌는 기능 자바스크립트로 구현-->
        <script>
            var video = document.getElementById("video");
            var title = document.getElementById("title");
            var explain = document.getElementById("explain");

            function change1() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/kqnua4rHVVA\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "고양이 소 포즈"
                explain.innerHTML = "무릎은 엉덩이 아래에, 손은 어깨 바로 아래에 오도록 네발로 엎드리세요. " +
                    "숨을 들이 마시고 배가 아래로 축 내려오게 한 후, 어깨를 뒤로 말아 머리를 천장을 향해 들어 올리세요. " +
                    "숨을 내쉬며 등을 곡선으로 만들어 위로 향하게 한 후 머리를 아래로 숙이세요. 이 자세를 반복하세요."
            }

            function change2() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/3zQIBOMeeis\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "슈퍼맨 및 수영선수"
                explain.innerHTML = "머리 위로 손을 쭉 뻗은채 엎드려 누우세요. 교대로 반대쪽 팔과 다리를 들어올리세요."
            }

            function change3() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/UV8HKZoxMRE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "크로스 터치 뻗기"
                explain.innerHTML = "땅에 똑바로 서서 팔을 어깨 높이로 양쪽으로 쭉 뻗은 상태로 시작하세요. " +
                    "몸을 굽혀 왼손으로 오른쪽 발을 터치하거나 최대한 가까이 가져가세요. 다른쪽으로 운동을 반복하세요."
            }

            function change4() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/lkYUwiKSEmI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "브릿지"
                explain.innerHTML = "무릎을 구부리고 바닥에 평평하게 누워, 엉덩이를 들어올립니다. " +
                    "이 때, 등과 허리는 일직선을 유지해주세요. 이 동작은 복부 전체와 허리, 둔부 근육을 강화해줍니다."
            }

            function change5() {
                video.innerHTML = "<iframe width=\"700\" height=\"400\" src=\"https://www.youtube.com/embed/eqVMAPM00DM\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
                title.innerHTML = "어린이 포즈"
                explain.innerHTML = "무릎과 손을 땅에 붙인 상태롤 시작하세요. 손을 약간 앞으로 향하게 하고 무릎을 벌린 후 두 발의 발가락을 포개세요. " +
                    "숨을 들이 마셨다가 내쉬고 똑바로 앉으세요. 엉덩이가 발 뒤꿈치에 닿게 노력하세요. " +
                    "팔꿈치를 편안하게 한 상태에서 이마를 땅에 대고 가슴을 최대한 땅에 가까이 가져 가세요. 이 포즈를 유지하세요."
            }
        </script>

        <!-- Footer-->
        {% include 'stretch/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/stretch/js/scripts.js"></script>
    </body>
</html>